{% extends 'hod_template/base_templates.html' %}
{% block page_title %}
 Edit Session| Session ID : {{get_session.id}}
{% endblock page_title %}
{% block main_content %}
        <!-- Main content -->

        

    <section class="content">
      <div class="container-fluid">
         <div class="row">
                <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Session</h3>
              </div>

              
                        <div class="form-group">
                                {% if messages %}
                                 {% for message in messages %}
                                   {% if message.tags == 'error' %}<br>
                                        <div class="alert alert-danger">{{message}}</div>
                                   {% endif %}

                                    {% if message.tags == 'success' %}<br>
                                        <div class="alert alert-success">{{message}}</div>
                                   {% endif %}

                                 {% endfor %}
                                {% endif %}
                        </div>
                        
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_session_save/" method="post">
              {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
            
                  
                  {% comment %} <div class="form-group">
                     <label>Session start year</label>
                    <input type="text" class="form-control" name="start_year" placeholder="Enter Class" value="{{get_session.session_start_year}}">
                    <input type="hidden"  name="session_id"  value="{{ get_session.id }}">
                  </div>

                  <div class="form-group">
                    <label>Session end year</label>
                    <input type="text" class="form-control" name="end_year" placeholder="Enter Class" value="{{get_session.session_end_year}}">
                    <input type="hidden"  name="session_id"  value="{{ get_session.id }}">
                  </div>  {% endcomment %}

                  <div class="form-group">
                    <label>Session Start Year </label>
                    <input type="date" class="form-control" name="start_year" value="{{get_session.session_start_year|date:'Y-m-d'}}">
                    <input type="hidden"  name="session_id"  value="{{ get_session.id }}">
                </div>

                <div class="form-group">
                    <label>Session End Year </label>
                    <input type="date" class="form-control" name="end_year" value="{{get_session.session_end_year|date:'Y-m-d'}}">
                    <input type="hidden"  name="session_id"  value="{{ get_session.id }}">
                </div> 

             

               
                
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Save Class </button>
                </div>
              </form>
            </div>
            <!-- /.card -->

            

          </div>
         </div>
       </div>
    </section>


        <!-- /.content -->

{% endblock main_content %}

{% comment %} 16:14 {% endcomment %}
