{% extends 'hod_template/base_templates.html' %}
{% block page_title %}
Edit Student | username : {{student.admin.username}} |ID : {{student.admin.id}}
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->



<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Edit Student</h3>
          </div>


          <div class="form-group">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}<br>
            <div class="alert alert-danger">{{message}}</div>
            {% endif %}

            {% if message.tags == 'success' %}<br>
            <div class="alert alert-success">{{message}}</div>
            {% endif %}

            {% endfor %}
            {% endif %}
          </div>

          <!-- /.card-header -->
          <!-- form start -->
          <form role="form" action="/edit_student_save/" method="post" , enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
              <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" name="email" placeholder="Enter email"
                  value="{{student.admin.email}}">
              </div>
              {% comment %} <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div> {% endcomment %}

              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="first_name" placeholder="First Name"
                  value="{{student.admin.first_name}}">
              </div>

              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name="last_name" placeholder="Last Name"
                  value="{{student.admin.last_name}}">
              </div>

              <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" name="username" placeholder="User Name"
                  value="{{student.admin.username}}">
                <input type="hidden" name="student_id" value="{{student.admin.id}}">
              </div>

              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" name="address" placeholder="Address"
                  value="{{student.address}}">
              </div>

              <div class="form-group">
                <label>Class</label>
                <select class="form-control" name="classes">
                  {% for class in student_class %}
                  <option value="{{class.id}}" {% if class.id == student.courses_id.id %}selected{% endif %}>
                    {{class.class_name}}</option>

                  {% endfor %}
                </select>
              </div>


              <div class="form-group">
                <label>Gender</label>
                <select type="text" class="form-control" name="gender">
                  <option {% if student.gender == "Male" %}selected{% endif %}>Male</option>
                  <option {% if student.gender == "Female" %}selected{% endif %}>Female</option>
                </select>
              </div>

              <div class="form-group">
                <label>Session Start</label>
                <input type="date" class="form-control" name="session_start" placeholder="Session Start Year"
                  value="{{student.session_start|date:"Y-m-d"}}">
              </div>

              <div class="form-group">
                <label>Session End</label>
                <input type="date" class="form-control" name="session_end" placeholder="Session End Year"
                  value="{{student.session_end|date:"Y-m-d"}}">
              </div>

              <div class="form-group">
                <label>Profile Image</label>
                <input type="file" class="form-control" name="profile_pic">
              </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary btn-block">Save Student </button>
            </div>
          </form>
        </div>
        <!-- /.card -->



      </div>







    </div>
  </div>
  </div>
</section>


<!-- /.content -->

{% endblock main_content %}

{% comment %} 16:14 {% endcomment %}